.vs/Core.Agile.Template.Web.Server/CopilotIndices/17.14.1518.61961/CodeChunks.db
.vs/Core.Agile.Template.Web.Server/CopilotIndices/17.14.1518.61961/CodeChunks.db-shm
.vs/Core.Agile.Template.Web.Server/CopilotIndices/17.14.1518.61961/CodeChunks.db-wal
.vs/Core.Agile.Template.Web.Server/CopilotIndices/17.14.1518.61961/SemanticSymbols.db
.vs/Core.Agile.Template.Web.Server/CopilotIndices/17.14.1518.61961/SemanticSymbols.db-shm
.vs/Core.Agile.Template.Web.Server/CopilotIndices/17.14.1518.61961/SemanticSymbols.db-wal
.vs/Core.Agile.Template.Web.Server/FileContentIndex/13c350cc-6da5-4dab-a6ff-ceece546d6c8.vsidx
.vs/Core.Agile.Template.Web.Server/FileContentIndex/838e6221-2f8e-4171-9020-92cfa1165e6f.vsidx
.vs/Core.Agile.Template.Web.Server/FileContentIndex/8a7e8583-acdf-4107-827b-d3d798490413.vsidx
.vs/Core.Agile.Template.Web.Server/FileContentIndex/8d3ce4fa-6456-4948-a2b1-6421e3273e8c.vsidx
.vs/Core.Agile.Template.Web.Server/FileContentIndex/c4511472-0f55-4ebb-9297-d976b077c92d.vsidx
